.form {
	padding: 25px;
	margin: 20px;
	max-width: 400px;
	height: 500px;
	margin: 50px auto;
	background: lightblue;
	border-radius: 10px;
	box-shadow: 10px 10px 0 rgba(38, 162, 75, 0.299);
}

.button {
	margin: 50px auto;
}
